In [2]:
#!pip install plotly
#!pip install simfin
#!pip install dotenv
#!pip install requests

In [3]:
import warnings
warnings.filterwarnings("ignore")

import json

import numpy as np
import pandas as pd

import plotly.express as px

import simfin as sf

from simfin.names import *

import os
from time import sleep
from dotenv import load_dotenv
import datetime
import requests
import json
from functools import reduce

In [4]:
class SimFinAPI:

    def __init__(self):
        self.__load_dotenv()
        self.__token = os.getenv("API_KEY")
        sf.set_api_key(self.__token)
        sf.set_data_dir('~/simfin_data/')

    def __load_dotenv(self):
        load_dotenv()

    def get_share_prices(self, market='de', variant='daily', ticker=None):
        try:
            # Load share prices for the specified market and variant
            df_prices = sf.load_shareprices(market=market, variant=variant)
            if ticker:
                return df_prices.loc[ticker]
            return df_prices
        except Exception as e:
            print(f"Error fetching share prices: {e}")
            return None

In [5]:
# Create an instance of the SimFinAPI class
simfin_api = SimFinAPI()

# Get share prices for the BMW.DE ticker
bmw_prices = simfin_api.get_share_prices(ticker='BMW.DE')
bmw_prices.head(10)

Dataset "de-shareprices-daily" on disk (0 days old).
- Loading from disk ... Done!

,SimFinId,Open,High,Low,Close,Adj. Close,Volume,Dividend,Shares Outstanding
Date,,,,,,,,,
2019-04-08,825112,81.48,82.99,81.37,82.81,58.69,1325909,NaN,660000000.0
2019-04-09,825112,82.38,83.43,82.11,82.46,58.45,1281897,NaN,660000000.0
2019-04-10,825112,82.25,82.97,82.19,82.53,58.49,1264318,NaN,660000000.0
2019-04-11,825112,82.57,83.15,81.94,82.78,58.67,1287851,NaN,660000000.0
2019-04-12,825112,82.63,85.51,82.22,85.22,60.40,2612728,NaN,660000000.0
2019-04-15,825112,84.93,85.90,84.68,85.52,60.60,1175155,NaN,660000000.0
2019-04-16,825112,85.76,86.53,85.46,86.22,61.10,1587145,NaN,660000000.0
2019-04-17,825112,87.10,88.16,86.20,87.27,61.85,2357190,NaN,660000000.0
2019-04-18,825112,86.74,87.97,86.34,87.36,61.91,2868292,NaN,660000000.0
2019-04-23,825112,87.27,87.76,86.88,86.99,61.64,1139985,NaN,660000000.0

In [6]:
bmw_prices.tail()

,SimFinId,Open,High,Low,Close,Adj. Close,Volume,Dividend,Shares Outstanding
Date,,,,,,,,,
2024-03-04,825112,118.77,119.36,118.29,119.31,112.36,625518,NaN,659125964.0
2024-03-05,825112,119.02,119.02,116.98,118.63,111.71,661444,NaN,659125964.0
2024-03-06,825112,118.73,118.95,116.65,116.99,110.17,1049231,NaN,659125964.0
2024-03-07,825112,116.66,117.14,115.59,116.57,109.77,974767,NaN,659125964.0
2024-03-08,825112,117.27,118.04,116.55,117.27,110.43,773833,NaN,659125964.0